<div class="menu-box">
	<NavLink href="/setting">
		<div class="menu-item">
			<i class="fas fa-cog"></i>
			<span>설정</span>
		</div>
	</NavLink>
	@*<NavLink href="/helplist">
		<div class="menu-item">
			<i class="fas fa-question-circle"></i>
			<span>도움말</span>
		</div>
	</NavLink>*@

	<span class="spliter"></span>

	<NavLink href="/managerlist">
		<div class="menu-item">
			<i class="fas fa-user-shield"></i>
			<span>보조관리자</span>
		</div>
	</NavLink>
	<NavLink href="/memberlevellist">
		<div class="menu-item">
			<i class="fas fa-level-up-alt"></i>
			<span>등급심사요청</span>
		</div>
	</NavLink>
	<NavLink href="/members">
		<div class="menu-item">
			<i class="fas fa-user-tag"></i>
			<span>일반회원</span>
		</div>
	</NavLink>
	<NavLink href="/callers">
		<div class="menu-item">
			<i class="fas fa-user-edit"></i>
			<span>상담회원</span>
		</div>
	</NavLink>

	<span class="spliter"></span>

	<NavLink href="/imageconfirm">
		<div class="menu-item">
			<i class="fas fa-check-circle"></i>
			<span>이미지 승인</span>
		</div>
	</NavLink>
	<NavLink href="/poompooms">
		<div class="menu-item">
			<i class="fas fa-image"></i>
			<span>뿜뿜</span>
		</div>
	</NavLink>
	<NavLink href="/pushmessage">
		<div class="menu-item">
			<i class="fas fa-envelope"></i>
			<span>푸시발송</span>
		</div>
	</NavLink>
	<NavLink href="/lovefortunelist">
		<div class="menu-item">
			<i class="fas fa-comment-medical"></i>
			<span>연애기운 문구</span>
		</div>
	</NavLink>

	<span class="spliter"></span>
	
	<NavLink href="/adlist">
		<div class="menu-item">
			<i class="fas fa-ad"></i>
			<span>광고관리</span>
		</div>
	</NavLink>
	<NavLink href="/blockwordlist">
		<div class="menu-item">
			<i class="fas fa-paragraph"></i>
			<span>제한단어</span>
		</div>
	</NavLink>
	<NavLink href="/alertlist">
		<div class="menu-item">
			<i class="fas fa-exclamation-triangle"></i>
			<span>신고관리</span>
		</div>
	</NavLink>

	<span class="spliter"></span>
	
	<NavLink href="/requestroyallist">
		<div class="menu-item">
			<i class="fas fa-crown"></i>
			<span>로얄신청</span>
		</div>
	</NavLink>
</div>