@page "/login"

@code {

}

<div class="login-pannel">
    <div class="login-box">
        <h2>관리자 로그인</h2>
        <span>아이디</span>
        <input id="userid" placeholder="아이디를 입력하세요." onkeydown="checkKeyDown();" />
        <span>비밀번호</span>
        <input id="passwd" type="password" placeholder="비밀번호를 입력하세요." onkeydown="checkKeyDown();" />
        <button onclick="login();">로그인</button>
    </div>
</div>