.row-box:nth-child(n+2) {
    margin-top: 16px;
}

.row-box input,
.row-box select,
.row-box textarea {
    width: 100%;
}

.img-box {
    border: 1px solid #808080;
    border-radius: 8px;
    padding: 10px;
    box-sizing: border-box;
    height: 200px;
}

.img-box > div {
    display: flex;
    flex-direction: row;
    overflow: auto;
    height: 100%;
}

.img-box > div > div {
    margin-right: 5px;
}

.img-box > div > div:last-child {
    margin-right: initial;
}

.img-box img {
    height: 100%;
    vertical-align: middle;
}

.btn-removeimg {
    height: 0;
    overflow: visible;
    text-align: right;
}

.btn-removeimg > button {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 24px;
    width: 24px;
    height: 24px;
    background-color: #c42727;
    margin: 4px;
}

button {
    background-color: #4a9cff;
    color: #ffffff;
    padding: 0;
}

.update-box {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.update-box > *:first-child {
    flex-grow: 1;
}

.update-box > *:last-child {
    flex-basis: 30px;
    margin-left: 5px;
}

.sub-point-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sub-point-box span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    height: 30px;
    border-radius: 8px;
    background-color: #cccccc;
    margin-right: 4px;
    margin-bottom: 4px;
    cursor: pointer;
}

.sub-point-box span.active {
    background-color: #4a9cff;
    color: #ffffff;
}

.comment-box {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    margin: 10px 0;
}

.comment-box > span:nth-of-type(1) {
    flex-basis: 100px;
    font-weight: bold;
    max-width: 100px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 100px;
    cursor: pointer;
}

.comment-box > i:nth-of-type(1) {
    display: flex;
    width: 20px;
    height: 20px;
    background-color: red;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 10px;
}