.label-title[b-0fnrugpds9] {
    display: block;
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 5px 10px;
}

.label-name[b-0fnrugpds9] {
    display: block;
    font-weight: bold;
    margin: 0 0 5px 0;
}

.label-name > span[b-0fnrugpds9] {
    font-size: 11px;
    color: #FF4A57;
}

.context-box[b-0fnrugpds9] {
    border: 1px solid gray;
    border-radius: 7px;
    padding: 10px;
    box-sizing: border-box;
}

button.accept[b-0fnrugpds9] {
    background-color: #4A9CFF;
    color: #ffffff;
    display: block;
}

textarea[b-0fnrugpds9] {
    width: 100%;
    height: 320px;
}