@page "/helplistitem/{id:int?}"
@layout EmptyLayout

@if (!this.IsInit)
{
	<div class="pageloading-box">
        데이터를 불러오는 중입니다.<br />
        잠시만 기다려 주세요.
    </div>
}
else
{
    <div style="padding: 10px;">
        <span class="label-title">도움말 정보</span>
        <div class="context-box">
            <div class="row-box">
                <span class="label-name">제목</span>
                <input @bind="this.Item.Title" />
            </div>
            <div class="row-box">
                <span class="label-name">내용</span>
                <textarea style="height: 200px;" @bind="this.Item.Content"></textarea>
            </div>
        </div>
        <button class="accept" style="width: 100%; margin-top: 10px;" @onclick="AcceptItemAsync">적용</button>
    </div>
}